@import url(variable.less);
@import url(function.less);
@import url(image.less);
@import url(transition.less);
@import url(elementuioverride.less);

@import url(widget/input);
@import url(widget/button);

:root{
    --text-color-default: @textColorDefault;
    --text-color-light: @textColorLight;
    --text-color-dark: @textColorDark;

    --fs-base: @fsBase;
    --fsS: @fsS;
    --fsXS: @fsXS;
    --fsM: @fsM;
    --fsL: @fsL;
    --fsXL: @fsXL;
    --fsXXL: @fsXXL;

    --shadow-default: @shadowDefault;
    --shadow-light: @shadowLight;
    --shadow-dark: @shadowDark;
    --shadow-error: @shadowError;

    --radiusM: @radiusM;
    --radiusL: @radiusL;
    --radiusXL: @radiusXL;

    --speed-normal: @speedNormal;
    --speed-slow: @speedSlow;
    --speed-slower: @speedSlower;
    --speed-fast: @speedFast;
}

//flex layout utils
.container-row{
    display: flex;
    flex-direction: column;
}
.row-center-vertical{
    align-items: center;
}
.row-center-horizontal{
    justify-content: center;
}
.row-center{
    .row-center-vertical;
    .row-center-horizontal;
}
.column-center-vertical{
    align-items: center;
}
.column-center-horizontal{
    justify-content: center;
}
.column-center{
    .column-center-vertical;
    .column-center-horizontal;
}
.container-column{
    display: flex;
}
.column-space-between{
    justify-content: space-between;
}

@placeholderStyle: {
    color: #ccc;
};
::-webkit-input-placeholder { /* WebKit browsers */
    @placeholderStyle();
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    @placeholderStyle();
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    @placeholderStyle();
}   

.auto-width{
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.box{
    background: white;
    box-shadow: var(--shadow-light);
    border-radius: var(--radiusM);
    overflow: hidden;
}
.inline-box{
    display: inline-block;
    .box;
}

.opacity-hover{
    transition: opacity var(--speed-fast);
    &:hover{
        opacity: .7;
    }
}